
<article class="flex flex-row justify-center items-center h-full text-tuna-50">
  <div class="flex flex-col gap-2 justify-center items-center w-full h-screen backdrop-blur-sm">
    <!-- LOGIN -->
    <div class="flex flex-col gap-5 p-4 items-center justify-center shadow-md w-full h-screen bg-tuna-800 md:h-fit md:rounded-md md:w-fit">

      <div class="flex flex-col w-full items-center ">
        <div class="border-2 border-tuna-100 border-dashed rounded-xl  p-24">
          <div class="flex flex-col gap-3 items-center">
            <svg width="50" height="50" viewBox="0 0 512 512"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M320 367.79h76c55 0 100-29.21 100-83.6s-53-81.47-96-83.6c-8.89-85.06-71-136.8-144-136.8c-69 0-113.44 45.79-128 91.2c-60 5.7-112 43.88-112 106.4s54 106.4 120 106.4h56"/><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m320 255.79l-64-64l-64 64m64 192.42V207.79"/></svg>
            <form [formGroup]="signForm">
              <app-input-file formControlName="file" [Label]="'Cargar archivos'"></app-input-file>

            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="mb-4">
      <app-button [buttonControl]="signForm" (click)="onSubmit()" >Firmar documento</app-button>
     </div>
  </div>


</article>
