<!-- <label class="block mb-2 text-sm font-medium text-white dark:text-white" for="file_input">{{ Label }}</label> -->
<!-- <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer" id="file_input" type="file"> -->
<input
  [ngClass]="value ? 'file:w-min' : 'file:w-full max-w-48'"
  class="flex text-base font-medium file:bg-gray-100 file:rounded-lg file:p-1 file:border-0 file:text-black "
  id="file"
  type="file"
  (change)="onFileChange($event)"
/>
<!-- <p class="mt-1 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF</p> -->
