<article class="flex flex-row justify-center items-center h-full text-tuna-50">

  <div class="flex flex-col gap-2 px-5 py-10 rounded-xl bg-primary-900 border border-primary-950 shadow-md">
      <div class="flex flex-row gap-2">
        <label class="text-2xl font-semibold">Usuario</label>
        <label class="text-xl font-extralight">{{user}}</label>
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-2xl font-semibold">LLave publica</label>
        <label class="text-xl font-extralight">{{keyPublic}}</label>
      </div>
  </div>
</article>
